<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
    body, h1, ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
     
    }

    /* Header styles */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #051747;
      padding: 10px;
      height:5rem;
      
    }

    h1 {
      font-size: 30px;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      margin-left: 10px;
      color: white;
    }

    a {
      text-decoration: none;
      color: white;
    }

    .btn {
      padding: 8px 16px;
      background-color: #E7E9F0;
     
      border-radius: 4px;
    }
  </style>
</head>
<body>
  <nav>
    <h1><a href="/">KAZI BOARD</a></h1>
    <ul>
      <% if (user) { %>
        <li><%= user.email %></li>
        <li><a href="/logout" class="btn">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
    </ul>
  </nav>
</body>
</html>