<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }

    h2 {
      margin-bottom: 10px;
      font-size: 30px;
    }

    label {
      margin-top: 10px;
    }

    input {
      padding: 8px;
      width: 200px;
    }

    select {
      padding: 8px;
      width: 200px;
    }
    .error {
      color: red;
      margin-top: 5px;
    }

    button {
      margin-top: 10px;
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .footer {
      background-color: #051747;
      color: white;
      padding: 10px;
      text-align: center;
      margin-top: auto;
    }
  </style>
</head>
<body><%- include('partials/header'); -%>
  <form>
    <h2>Signup</h2>
    <label for="email">Email </label>
    <input type="text" name="email"  />
    <div class="email error"></div>
    
    <label for="password">Password</label>
    <input type="password" name="password"  />
    <div class="password error"></div>

    <label for="role">Role</label>
    <select name="role">
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>

    <button>Signup</button>
  </form>

  <div class="footer">
    <%- include('partials/footer'); -%>
  </div>
</body>
</html>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;
    const role = form.role.value;

    try {
      const res = await fetch('/api/auth/signup', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
  if (data.user.role === 'Admin') {
    location.assign('/login');
  } else {
    location.assign('/login');
  }
}
     
    }
    catch (err) {
      console.log(err);
    }
  });
</script>
