/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1rem;
  letter-spacing: 1px;
  
}
.footer {
  background-color: #051747;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  color:white;
}